# Ignore environment variable files
.env

# Ignore AWS configurations
.aws/
# Ignore AWS credentials
.aws/

# Ignore virtual environment directories
venv/
# Ignore everything in the env folder except config.py
env/*
!env/config.py

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
nohup.out

# Ignore log files
*.log
*.log.*

# Ignore other sensitive files
.secret/
.credentials/

# Ignore IDE-specific files (e.g., for VSCode or PyCharm)
.vscode/
.idea/

# Ignore everything in the templates folder except the html directory
templates/*
!templates/html/